@import 'bulma';
@import url('https://fonts.googleapis.com/css?family=Amatic+SC|Abel');

html, body {
  height: 100%; 
  margin: 0;
  padding: 0; 
  background: $beige;
}

body { 
  font-family: 'Abel';
  font-size: 1.15rem;
}

header { 
  background: url(/assets/images/hero-pencils.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


.sticky { 
  position: fixed;
  width: 100%; 
  background: $beige;
  z-index: 1;
  padding: 1.5rem;
  h1 { 
    font-size: $size-2; 
    -webkit-transition: font-size 1s;
    -moz-transition: font-size 1s;
    -o-transition: font-size 1s;
    transition: font-size 1s; 
  }
}

.hero-landing {
  background: url(/assets/images/hero3.jpg) no-repeat center center fixed;
}

.hero-landing {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: #fff; 
  height: 100%; 

}

h1,h2 { font-family: 'Amatic SC'; }

h1 { font-size: $size-1; }
h2 { font-size: $size-2; }
h6 { font-size: $size-4; }

.logo { 
  font-family: 'Amatic SC';
  font-size: 2rem;
  font-weight: bold;
}

// TAGS
.tags { 
  span:first-child { margin: auto 0.5rem 0.5rem 0; }
  .tag.is-info:nth-child(3n+2) { background: $green; }
  .tag.is-info:nth-child(3n+1) { background: $red; }
}

section {
  .subtitle { color: $brown }
}

.profile { 
  width: 8rem;
  height: 8rem; 
  border-radius: 100%; 
}
