$red: #E76062; 
$blue: #08C9DA;
$beige: #E8E6E9;
$dark-grey: #444; 
$green: #7CB20A;
$seethru-white: rgba(255, 255, 255, 0.4);
$seethru-blue: rgba($blue, 0.5);

$primary: $red;
$info: $blue;

$size-1: 6rem;
$size-2:5rem;

$navbar-background-color: transparent;
$navbar-item-color: #fff; 
$navbar-item-hover-background-color: $seethru-blue;

$navbar-item-active-color: #fff; 
$navbar-item-active-background-color: $red;

$navbar-dropdown-arrow: $blue; 
$navbar-dropdown-background-color: $seethru-blue;
$navbar-dropdown-item-hover-color: #fff; 
$navbar-dropdown-item-hover-background-color: $seethru-white; 

$input-color: $dark-grey; 
$input-border-color: $red;
$input-background-color: transparent;
$input-shadow: none;

@import '../../node_modules/bulma/bulma.sass';
