$red: #E76062; 
$blue: #08C9DA;
$seethru-white: rgba(255, 255, 255, 0.4);
$seethru-dark: rgba(#000, 0.4);
$seethru-blue: rgba($blue, 0.5);

$primary: $red;
$info: $blue;

$size-1: 7rem;
$size-2: 6rem;

$navbar-item-color: #fff; 
$navbar-item-hover-background-color: $seethru-blue;

$navbar-item-active-color: #fff; 
$navbar-item-active-background-color: $red;

$navbar-dropdown-arrow: $blue; 
$navbar-dropdown-background-color: $seethru-blue;
$navbar-dropdown-item-hover-color: #fff; 
$navbar-dropdown-item-hover-background-color: $seethru-white; 

$input-background-color: $seethru-dark;
$input-color: #fff; 

@import '../../node_modules/bulma/bulma.sass';
