@import 'bulma';
@import url('https://fonts.googleapis.com/css?family=Bungee|Permanent+Marker');

html, body {
  height: 100%; 
  margin: 0;
  padding: 0; 
  background: $beige;
}

header { 
  background: url(/assets/images/hero-pencils.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.hero-landing {
  background: url(/assets/images/hero3.jpg) no-repeat center center fixed;
}

.hero-landing {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: #fff; 
  height: 100%; 

}

h1,h2 { font-family: 'Bungee'; }

h1 { 
  font-size: $size-1; 
}
h2 { font-size: $size-2; }
h6 { font-size: $size-4; }

.logo { 
  font-family: 'Permanent Marker';
  font-size: 2rem;
}

