{% extends 'landing.html' %}

{% block title %}Reset Password{% endblock %}

{% block content %}
  <div class="columns">
    <div class="column is-6 has-text-right-desktop">
      <h1>Password Reset</h1>
    </div>
    <div class="column">
      <p>Please specify your email address to receive instructions for resetting it.</p>
      <form method="post">
          {% csrf_token %}
          <div class="fields">  
            <div class="control">
              <label for="id_email">E-mail address:</label> 
              <input id="id_email" name="email" maxlength="254" class="input" type="email" required/>
              <div class="help is-danger">{{ form.email.errors }}</div>
            </div>
          </div>

         <button type="submit" class="button is-info">Submit</button>
      </form>
    </div>
  </div>
{% endblock %}
