{% extends 'landing.html' %}
{% block title %}Set New password{% endblock %}

{% block content %} 
    <div class="columns">
    {% if validlink %}
      <div class="column is-6 has-text-right-desktop">
        <h1>Set New Password</h1>
      </div>
      <div class="column">
        <p>Please enter your new password twice.<br />
           So we can verify you typed it in correctly.</p>
        <form action="" method="post">  
          {% csrf_token %}
          <div class="field">
            <label for="id_new_password1">New password:</label>
            <div class="control">
              <input id="id_new_password1" name="new_password1" type="password" class="input" required/>
            </div>
            <div class="help is-danger">{{ form.new_password1.errors }}</div>
          </div>
          <div class="field">
            <label for="id_new_password2">Confirm password:</label></td>
            <div class="control">
              <input id="id_new_password2" name="new_password2" type="password" class="input" required/>
            </div>
            <div class="help is-danger">{{ form.new_password2.errors }}</div>
          </div>
          <div class="field">
            <div class="control">
              <button type="submit" class="button is-info"/>Change My Password</button>
            </div>
          </div>
        </form>
      </div>
    {% else %}
      <div class="container has-text-center">
        <h1>Password reset unsuccessful</h1>
        <p>The password reset link was invalid, <br />
        possibly because it has already been used. <br />
        Please request a new password reset.</p>
      </div>
    {% endif %}
    </div>
{% endblock %}
