{% extends 'columns.html' %}
{% block title %} | All Posts{% endblock %}

{% block page_name %}Posts{% endblock %}
{% block content %}
  {% for post in posts %}
    <div><a href="{% url 'edit-post' id=post.pk %}">Edit</a></div>
    <div><a href="{% url 'delete-post' id=post.pk %}" class="is-danger">Delete</a>
    <div>{{ post.title }}</div>
    <div>{{ post.date|date:"l F d Y H:i" }}</div>
    <div>{{ post.body|safe|linebreaks }}</div>
    {% for tag in post.tag_set.all %}
      <span>{{ tag.category.name }}</span>
    {% endfor %}
  {% endfor %}
{% endblock %}
