{% extends 'columns.html' %}
{% block title %} | All Posts{% endblock %}

{% block page_name %}Posts{% endblock %}
{% block content %}
  {% for post in posts %}
    <section class="section">
      <div class="columns">
        <div class="column">
          <h2 class="title">{{ post.title }}</h2> 
          <div class="subtitle">{{ post.date|date:"l F d Y H:i" }}</div>
        </div>
        <div class="column has-text-right-tablet">
          {% if request.user.is_authenticated and request.user == post.user  %}
            <a href="{% url 'edit-post' id=post.pk %}">
              <span class="icon"><i class="fa fa-laptop"></i></span> Edit
            </a>
          {% endif %}
        </div>
      </div>

      <hr/>

      <div>{{ post.body|safe|linebreaks|urlize }}</div>

      <hr/>
      <div class="tags">
        <span>Tags: </span>
        {% for tag in post.tag_set.all %}
          <span class="tag is-info">
            <a href="{% url 'tag' name=tag.category.name username=user.username %}">
              {{ tag.category.name }}
            </a>
          </span>
        {% endfor %}    
      </div>
    </section>
  {% endfor %}

{% endblock %}
