{% extends 'columns.html' %}
{% block title %} | New Post{% endblock %}

{% block page_name %}New Post{% endblock %}
{% block content %}
  <form method="POST" class="post-form">
    {% csrf_token %}
    <post-form></post-form>
    <!--
    {% for field in form %}
      <div class="field">
        {{ field.label_tag }}
        <div class="control">
          {{ field }}
        </div>
      </div>
    {% endfor %}
    <div>{{ tags }}</div>
    -->
    <button type="submit" class="button is-primary">Submit</button>
  </form>
{% endblock %}
