<nav class="navbar is-fixed-top" role="navigation">
  <div class="navbar-brand">
    <a href="/" class="navbar-item has-text-centered">
      <h6 class="logo">DB</h6>
    </a>
  </div>
  <div class="navbar-menu">
    <div class="navbar-end">
      {% if request.user.is_authenticated %}
        <span class="navbar-item">
          <a href="{% url 'new-post' %}" class="button is-primary">New Post</a>
        </span>

        <a class="navbar-item" href="{% url 'all-posts' %}">Posts</a>
        <a class="navbar-item" href="{% url 'account' %}">Profile</a>
        <a class="navbar-item" href="{% url 'logout' %}" method="DELETE">Logout</a>
      {% else %}
        <a class="navbar-item" href="/login">Login</a>
        <span class="navbar-item">
          <a class="button is-primary is-seethru" href="/signup">Sign Up</a>
        </span>
      {% endif %}
    </div>
  </div>
</nav>
