<nav class="navbar is-fixed-top" role="navigation">
  <div class="navbar-brand">
    <a href="/" class="navbar-item has-text-centered">
      <h6 class="logo">DB</h6>
    </a>
  </div>
  <div class="navbar-menu">
    <div class="navbar-end">
      {% if request.user.is_authenticated %}
        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link">Posts</a>
          <div class="navbar-dropdown">
            <a class="navbar-item" href="{% url 'new-post' %}">New Post</a>
            <a class="navbar-item" href="{% url 'all-posts' %}">Posts</a>
          </div>
        </div>
        <a class="navbar-item" href="{% url 'edit-account' %}">Account</a>
        <a class="navbar-item" href="{% url 'logout' %}" method="DELETE">Logout</a>
      {% else %}
        <a class="navbar-item" href="/login">Login</a>
        <span class="navbar-item">
          <a class="button is-primary is-seethru" href="/signup">Sign Up</a>
        </span>
      {% endif %}
    </div>
  </div>
</nav>
