<!DOCTYPE html>
<html class="has-navbar fixed-top">
  <head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" type="text/css" href="/assets/css/home.css"/>
    <title>Dev Notebook {% block title %}{% endblock %}</title>
  </head>

  <body>
      <nav class="navbar is-fixed-top" role="navigation">
        <div class="navbar-menu">
          {% if request.user.is_authenticated %}
            <a class="nav-item" href="{% url 'logout' %}" method="DELETE">Logout</a>
            <a class="nav-item" href="{% url 'new-post' %}">New Post</a>
            <a class="nav-item" href="{% url 'all-posts' %}">Posts</a>
            <a class="nav-item" href="{% url 'edit-account' %}">Edit Account</a>
          {% else %}
            <a class="nav-item" href="/login">Login</a>
            <a class="nav-item" href="/signup">Sign Up</a>
          {% endif %}
        </div>
      </nav>

        {% block content %}{% endblock %} 

        <footer class="footer">
          <div class="container">
            <div class="content has-text-centered">
              This is a footer!
            </div>
          </div>
        </footer>
  </body>
</html>
