<!DOCTYPE html>
<html class="has-navbar-fixed-top">
  <head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" type="text/css" href="/assets/css/home.css"/>
    <title>Dev Notebook {% block title %}{% endblock %}</title>
  </head>

  <body>
   <section class="hero-img hero is-fullheight">
    {% include '_navbar.html' %}
    <div class="container hero-body">
      {% block content %}{% endblock %}   
    </div>

    <footer class="hero-foot">
      <div class="container">
        <div class="content has-text-centered">
          This is a footer!
        </div>
      </div>
    </footer>
  </body>
</html>
