<!DOCTYPE html>
<html class="has-navbar-fixed-top">
  <head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" type="text/css" href="/assets/css/home.css"/>
    <title>DevBook {% block title %}{% endblock %}</title>
  </head>

  <body>
   <section class="hero-landing hero is-fullheight">
    {% include '_navbar.html' %}
    <div class="hero-body">
      <div class="container">
        {% block content %}{% endblock %}   
      </div>
    </div>

    <footer class="hero-foot">
      <div class="container">
        <div class="content has-text-centered">
        </div>
      </div>
    </footer>

    <script src="/assets/js/navbar.js"></script>
  </body>
</html>
